extends LearnAI.pug 

block list 
    ul 
        li
            a(href="/Learn/DS/Data") Data
        li
            a(href="/Learn/DS/DataBaseTable") Data Base Table
        li
            a(href="/Learn/DS/DataFrame") Data Frames
        li
            a(href="/Learn/DS/Datapreparation") Data Preparation
        li
            a(href="/Learn/DS/Functions") Functions
        li
            a(href="/Learn/DS/intro") Intro
        li
            a(href="/Learn/DS/Python") Python
        li
            a(href="/Learn/DS/slopeAndIntercept") Slope And Intercept

block img
    img(src="/Images/DS.jpeg", alt="DS")