extends LearnAI.pug 

append style   
    link(rel="stylesheet", href="/LearnCSSJS/LearnWebDFiles/LearnWebD.css")

block list 
    ul 
        li
            a(href="/Learn/WebD/CSSIntro") CSS Intro
        li
            a(href="/Learn/WebD/CSSMar&Pad") CSS Margin And Padding
        li
            a(href="/Learn/WebD/CSSSyntax") CSS Syntax
        li
            a(href="/Learn/WebD/CSSTutorial") CSS Tutorial
        li
            a(href="/Learn/WebD/delete") Delete
        li
            a(href="/Learn/WebD/doc") Intro
        li
            a(href="/Learn/WebD/HTML") HTML
        li
            a(href="/Learn/WebD/HTMLFILEADD") Html File Add
        li
            a(href="/Learn/WebD/htmlheading") Html Heading
        li
            a(href="/Learn/WebD/HTMLTABLES") Html Tables
        li
            a(href="/Learn/WebD/IntrotoJS") Intro To JavaScript
        li
            a(href="/Learn/WebD/JSOperators") JS Operators
        //- li
        //-     a(href="/Learn/WebD/simple") Simple
        //- li
        //-     a(href="/Learn/WebD/Var&DtJS") Var Dt Js
        //- li
        //-     a(href="/Learn/WebD/webdevelopment") Web Development

block img
    img(src="/Images/WebD.jpeg", alt="WebD")