extends LearnAI.pug 

block list 
    ul 
        li
            a(href="/Learn/DSA/Array") Array
        li
            a(href="/Learn/DSA/graph") Graphs
        li
            a(href="/Learn/DSA/linked list") Linked List
        li
            a(href="/Learn/DSA/queue") Queue
        li
            a(href="/Learn/DSA/stack") Stack
        li
            a(href="/Learn/DSA/Trees") Trees 

block img
    img(src="/Images/DSA.jpeg", alt="DSA")