doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title EverLearn | About Us 
        link(rel="stylesheet" href="/style.css")
        link(rel="stylesheet", href="/About/About.css")
        script(src="/script.js" defer)


        link(rel='icon', href="/Images/EL (1) (1).png")

        //- Nunito Font
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap' rel='stylesheet')

    body
        nav.navbar#navbar
            .logo
                img(src="/Images/nav 42.png", alt="EverLearn")
                h1 
                    | Ever 
                    span Learn
        
            .menu 
                ul 
                    li
                        a(href="/") Home 
                    li
                        a(href="/Learn") Learn 
                    li
                        a(href="/Courses") Courses 
                    li
                        a(href="/About") About 

                .search 
                    input(type="text", placeholder="Search, eg. AI")
                    i(class="fa-regular fa-bell")

        .main 
            #no1 
                .common.size1.blur
                .common.size2.blur
                .common.size3.blur
                .common.size4.blur
                .common.size5.blur
            #no1 
                .common.size1.blur
                .common.size2.blur
                .common.size3.blur
                .common.size4.blur
                .common.size5.blur

            .container 
                #container1
                    img(src="/About/Photos/Devanshu.jpg", alt="Devanshu")
                    img(src="/About/Photos/Image.jpg", alt="Dhruv")
                    img(src="/About/Photos/Dheeraj.jpg", alt="Dheeraj")
                #container2
                    h1 About Us
                    p Hi, we are students of B.Tech CSE 6th Semester AB. We have been given AI Driven Personalized Learning Pathways which we are done with by now as a minor project. This project aims to provide Students who are in need of following a proper pathway for a subject or the field of interest they want. Currently we have 4 main subjects as DSA, Web Development, Data Structures And Algorithms, and Artificial Intelligence. Students can generate roadmaps for these subjects at free of cost which provides them a proper road steps to follow designed by experts. We have also provided Content for eacch of these subjects which were made by ourselves to serve it as static files. The heart of this Project lies beneath the concept of integration of AI assistant which can help you learn concepts easily and fiendly :) And for you to learn more, we have provided some courses featured by GFG which are experts recommended!
