@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    padding: 8px 10px;
}

strong{
    /* color: rgb(46, 46, 46); */
    color: rgb(64, 64, 64);
    font-weight: bolder;
    font-size: 20px;
}

p{
    color: rgb(62,66,64);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 7px;
}

.green{
    height: 210px;
    padding-top: 15px;
    padding-left:30px ;
    background-color: rgb(201, 225, 201);
}

#Datagreen{
    height: 250px;
    padding-top: 15px;
    padding-left:30px ;
    background-color: rgb(207, 233, 207);
}

ul li{
    font-size: 20px;
    margin-bottom:8px;
}

ol li{
    font-size: 20px;
    margin-bottom:8px;
}

.yellow{
    padding-top: 15px;
    padding-left: 15px;
    background-color: rgb(255, 255, 139);
    height: 76px;
}

#yellowdata{
    padding-top: 15px;
    padding-left: 15px;
    background-color: rgb(255, 255, 208);
    height: 126px;
}

#yellowdatabase{
    padding-top: 15px;
    padding-left: 15px;
    background-color: rgb(254, 254, 189);
    height: 116px;
}

#yellowdataframe{
    padding-top: 15px;
    padding-left: 15px;
    background-color: rgb(254, 254, 189);
    height: 126px;
}
#yellowdataframe2{
    padding-top: 15px;
    padding-left: 15px;
    background-color: rgb(254, 254, 189);
    height: 153px;
}

#functiongreen{
    height: 110px;
    padding-top: 15px;
    padding-left:30px ;
    background-color: rgb(201, 225, 201);
}
