/* *{
    margin: 0;
    padding: 0;
} */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    padding: 8px 10px;
}

strong{
    /* color: rgb(46, 46, 46); */
    color: rgb(64, 64, 64);
    font-weight: bolder;
    font-size: 20px;
}

p{
    color: rgb(62,66,64);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 7px;
}


.index img{
    align-items: center;
    width: 700px;
    height: 400px;
    margin-left: 100px;
}
